# Python для Анализа Данных

# Домашняя работа 7: Обработка данных с Pandas II

In [1]:
import pandas as pd
import numpy as np

## Задачи Light

### Задача 1: DateTime index

* Подгрузите данные 'data.csv' (возможно придется указать кодировку encoding сp1250)
* Преобразуйте колонку Invoice Date в DateTime index
* Удалите колонку Invoice Date
* Сохраните получившуюся табличку в новую переменную data

In [2]:
data = pd.read_csv('data.csv', encoding='cp1250')

In [3]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [4]:
data.index = pd.to_datetime(data.InvoiceDate)
data.drop('InvoiceDate', axis=1, inplace=True)
data.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country
InvoiceDate,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom
2010-12-01 08:26:00,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom
2010-12-01 08:26:00,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom

### Задача 2

Используя табличку, полученную в результате выполнения предыдущей задачи, выберите все заказы, совершенные за период 7 Декабря 2010 года с часа дня до часа и одной минуты.

In [5]:
data['2010-12-07 13:00':'2010-12-07 13:01'].head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country
InvoiceDate,,,,,,,
2010-12-07 13:01:00,537604,84991,60 TEATIME FAIRY CAKE CASES,24,0.55,13488.0,United Kingdom
2010-12-07 13:01:00,537604,21845,DAIRY MAID STRIPE MUG,12,2.95,13488.0,United Kingdom
2010-12-07 13:01:00,537604,21534,DAIRY MAID LARGE MILK JUG,3,4.95,13488.0,United Kingdom
2010-12-07 13:01:00,537604,21527,RED RETROSPOT TRADITIONAL TEAPOT,2,7.95,13488.0,United Kingdom
2010-12-07 13:01:00,537604,21528,DAIRY MAID TRADITIONAL TEAPOT,2,6.95,13488.0,United Kingdom

### Задача 3

По той же рабочей табличке:
* посчитайте кол-во уникальных наименований товаров, которые купили за весь период (т.е. по всем данным). Используйте соответствующий метод
* найдите все уникальные страны, в которых были размещены заказы

In [6]:
print(f'кол-во уникальных товаров за весь период: {len(data.Description.unique())}')

кол-во уникальных товаров за весь период: 4224

In [8]:
print(f'все страны, в которых были размещены заказы: {data.Country.unique()}')

все страны, в которых были размещены заказы: ['United Kingdom' 'France' 'Australia' 'Netherlands' 'Germany' 'Norway'
 'EIRE' 'Switzerland' 'Spain' 'Poland' 'Portugal' 'Italy' 'Belgium'
 'Lithuania' 'Japan' 'Iceland' 'Channel Islands' 'Denmark' 'Cyprus'
 'Sweden' 'Austria' 'Israel' 'Finland' 'Bahrain' 'Greece' 'Hong Kong'
 'Singapore' 'Lebanon' 'United Arab Emirates' 'Saudi Arabia'
 'Czech Republic' 'Canada' 'Unspecified' 'Brazil' 'USA'
 'European Community' 'Malta' 'RSA']

### Задача 4

Посчитайте матрицу корреляции Спирмена для наших данных

In [9]:
print(f"матрица корреляции Спирмена:\n{data.corr('spearman')}")

матрица корреляции Спирмена:
            Quantity  UnitPrice  CustomerID
Quantity    1.000000  -0.385407   -0.141124
UnitPrice  -0.385407   1.000000   -0.013255
CustomerID -0.141124  -0.013255    1.000000

### Задача 5

Найдите 1%, 50% и 99% квантили цены за единицу товара

In [10]:
data.quantile([0.01, 0.5, 0.99])

      Quantity  UnitPrice  CustomerID
0.01      -2.0       0.19     12415.0
0.50       3.0       2.08     15152.0
0.99     100.0      18.00     18212.0

смутило, что существуют значения меньше 0, но т.к. их значительно множество, то предполагаю, что это особенность ведения БД

In [11]:
len (data[data.Quantity < 0])

10624

### Задача 6

Найдите количество клиентов, которые оформляли заказ в понедельники. Для этого:
* сделайте подвыборку, соответствующую условию "в понедельник", используйте метод datetime индекса weekday_name
* посчитайте кол-во уникальных ID клиентов

In [12]:
data[data.index.weekday_name == 'Monday'].head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country
InvoiceDate,,,,,,,
2010-12-06 08:34:00,537226,22811,SET OF 6 T-LIGHTS CACTI,6,2.95,15987.0,United Kingdom
2010-12-06 08:34:00,537226,21713,CITRONELLA CANDLE FLOWERPOT,8,2.10,15987.0,United Kingdom
2010-12-06 08:34:00,537226,22927,GREEN GIANT GARDEN THERMOMETER,2,5.95,15987.0,United Kingdom
2010-12-06 08:34:00,537226,20802,SMALL GLASS SUNDAE DISH CLEAR,6,1.65,15987.0,United Kingdom
2010-12-06 08:34:00,537226,22052,VINTAGE CARAVAN GIFT WRAP,25,0.42,15987.0,United Kingdom

In [13]:
print('кол-во уникальных ID клиентов в понедельник:')
print(len(pd.DataFrame(data[data.index.weekday_name == 'Monday'].CustomerID.unique()).dropna()))

кол-во уникальных ID клиентов в понедельник:
1769

### Задача 7

Создайте новый столбец TotalCost со значениями Quantity * UnitPrice. Сделайте resampling данных в еженедельные со значениями суммы по столбцам TotalCost.

In [14]:
data['TotalCost'] = data.Quantity * data.UnitPrice
data.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,TotalCost
InvoiceDate,,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,15.30
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,20.34
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,22.00
2010-12-01 08:26:00,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,20.34
2010-12-01 08:26:00,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,20.34

In [15]:
data.resample('W').TotalCost.sum().head(10)

InvoiceDate
2010-12-05    181847.25
2010-12-12    270287.03
2010-12-19    207052.17
2010-12-26     89770.57
2011-01-02         0.00
2011-01-09     93720.93
2011-01-16    190994.96
2011-01-23    133782.91
2011-01-30    119136.81
2011-02-06    123642.18
Freq: W-SUN, Name: TotalCost, dtype: float64

## Задачи Pro

### Задача 8
Посчитайте скользящее недельное среднее суммы ежедневных заказов. Для этого:
* Сделайте resampling в ежедневные данные
* Посчитайте скользящее среднее за 7 дней по столбцу TotalCost

In [16]:
# елаю resmapling в ежедневные данные, считаю среднее по окну в 7 значений, показывать только начиная с 7го дня
data.resample('D').sum().TotalCost.rolling(7, min_periods=7).mean()[6:].head(10)

InvoiceDate
2010-12-07    40109.497143
2010-12-08    38045.822857
2010-12-09    38949.372857
2010-12-10    40632.865714
2010-12-11    40632.865714
2010-12-12    38612.432857
2010-12-13    35972.312857
2010-12-14    35655.775714
2010-12-15    33549.182857
2010-12-16    32949.500000
Freq: D, Name: TotalCost, dtype: float64

### Задача 9 GroupBy

Посчитайте общую стоимость заказов на ежемесячной основе в разбивке по странам

In [17]:
data.groupby(['Country']).mean().TotalCost.head(10)

Country
Australia          108.877895
Austria             25.322494
Bahrain             28.863158
Belgium             19.773301
Brazil              35.737500
Canada              24.280662
Channel Islands     26.499063
Cyprus              20.813971
Czech Republic      23.590667
Denmark             48.247147
Name: TotalCost, dtype: float64

### Задача 10 Groupby + agg

Посчитайте на ежемесяной основе:
* сумму по общей стоимость заказа TotalCost
* кол-во уникальных клиентов CustomerID
* кол-во заказов (уникальные по полю InvoiceNo)

In [18]:
df = data.resample('M').sum()
df

             Quantity   UnitPrice    CustomerID    TotalCost
InvoiceDate
2010-12-31     342228  260520.850  4.166977e+08   748957.020
2011-01-31     308966  172752.800  3.319198e+08   560000.260
2011-02-28     277989  127448.770  3.117809e+08   498062.650
2011-03-31     351872  171486.510  4.223298e+08   683267.080
2011-04-30     289098  129164.961  3.541194e+08   493207.121
2011-05-31     380391  190685.460  4.400088e+08   723333.510
2011-06-30     341623  200717.340  4.264710e+08   691123.120
2011-07-31     391116  171906.791  4.209226e+08   681300.111
2011-08-31     406199  150385.680  4.219478e+08   682680.510
2011-09-30     549817  199235.212  6.229373e+08  1019687.622
2011-10-31     570532  263434.090  7.727017e+08  1070704.670
2011-11-30     740286  327149.850  1.007384e+09  1461756.250
2011-12-31     226333  133915.660  2.702551e+08   433668.010

In [20]:
data.groupby(by=[data.index.strftime('%B')]).agg({'TotalCost' : np.sum, 
                                                  'CustomerID': lambda x: x.nunique(), 
                                                  'InvoiceNo': lambda x: x.nunique()})

             TotalCost  CustomerID  InvoiceNo
April       493207.121       899.0       1744
August      682680.510       980.0       1737
December   1182625.030      1374.0       3040
February    498062.650       798.0       1393
January     560000.260       783.0       1476
July        681300.111       993.0       1927
June        691123.120      1051.0       2012
March       683267.080      1020.0       1983
May         723333.510      1079.0       2162
November   1461756.250      1711.0       3462
October    1070704.670      1425.0       2637
September  1019687.622      1302.0       2327

### Задача 11 JOIN

* Подгрузите данные, содержащие информацию о номерах карт лояльности пользователей (card_data.csv)
* Назовите ее cards
* Сделайте Left Join исходной таблицы (которая получилась после задачи с datetime индексом) и таблицы cards

In [23]:
cards = pd.read_csv('card_data.csv')
cards.head()

      CardID  CustomerID
0  295841261     17850.0
1  491076910     13047.0
2  966476063     12583.0
3  396345785     13748.0
4  135688785     15100.0

In [27]:
data.merge(cards, on='CustomerID', how='left').head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,TotalCost,CardID
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,15.30,295841261.0
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,20.34,295841261.0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,22.00,295841261.0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,20.34,295841261.0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,20.34,295841261.0